// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

$black: #000000;
$white: #ffffff;
$red: #dc3545;
$grey: #6c757d;
$dark: #343a40;
$dark_opaque: rgba(52, 58, 64, .9);
$green: #28a745;
$yellow: #ffc107;
$secondary: $secondary;
$light_green: rgba(40, 167, 69, .6);
$light_blue: rgba(0, 123, 255, .6);
$light_yellow: rgba(255, 193, 7, .6);
