// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

$black: #000000;
$white: #ffffff;
$red: #dc3545;
$grey: #6c757d;
$dark: #343a40;
$dark_opaque: rgba(52, 58, 64, .9);
$green: #28a745;
