@import "../../../colours";

.widget.stock {
    margin-top: 5%;

    .paging {
        width: max-content;
        margin: auto;

        li {
            padding: 10px;

            &.active {

                > a {
                    color: $grey;
                    text-decoration: underline;
                }

            }

            &.disabled {
                pointer-events: none;
                visibility: hidden;
            }

        }

    }

}
