.refund-reason {

    .reasons {

        input[type="radio"] {
            width: 20px;
            margin-left: 50px;
        }

    }

    form {

        textarea {
            resize: none;
        }

    }

}
