@import "../../../colours";

.actions {
    bottom: 0;

    .card {
        border-color: rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        padding: 5%;
    }

}

.till-text {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    bottom: 0;
    position: fixed;
    padding: 15px;
}
