@import "../../../colours";

.totals {

    .widget-shadow {
        text-align: center;
        padding: 15px;
        border-radius: 15px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, .5);
    }

    .total {
        justify-content: center;
        color: $white;
        font-size: 20px;

        .value {
            margin-left: 15px;
        }

    }

    .sale-total {
        margin: 15px;
        color: $white;
        font-size: 35px;
    }

    .btn {
        margin: 15px;
    }

}
